FDA_FINANCE/Web References/WS_FOOD/WS_FOOD_JOB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FOOD_SERVICE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PROCESS_ID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FR_IDA" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FOOD_SERVICEResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="FOOD_SERVICESoapIn">
    <wsdl:part name="parameters" element="tns:FOOD_SERVICE" />
  </wsdl:message>
  <wsdl:message name="FOOD_SERVICESoapOut">
    <wsdl:part name="parameters" element="tns:FOOD_SERVICEResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_FOOD_JOBSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FOOD_SERVICE">
      <wsdl:input message="tns:FOOD_SERVICESoapIn" />
      <wsdl:output message="tns:FOOD_SERVICESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_FOOD_JOBSoap" type="tns:WS_FOOD_JOBSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FOOD_SERVICE">
      <soap:operation soapAction="http://tempuri.org/FOOD_SERVICE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_FOOD_JOBSoap12" type="tns:WS_FOOD_JOBSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FOOD_SERVICE">
      <soap12:operation soapAction="http://tempuri.org/FOOD_SERVICE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_FOOD_JOB">
    <wsdl:port name="WS_FOOD_JOBSoap" binding="tns:WS_FOOD_JOBSoap">
      <soap:address location="http://164.115.28.131/FDA_FOOD/WS_FOOD_JOB.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_FOOD_JOBSoap12" binding="tns:WS_FOOD_JOBSoap12">
      <soap12:address location="http://164.115.28.131/FDA_FOOD/WS_FOOD_JOB.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>