FDA_FINANCE/Web References/WS_CMT_PAYS/WS_CMT_PAY.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CMT_PAY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ida" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="process_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ref01" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ref02" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CMT_PAYResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CMT_PAYSoapIn">
    <wsdl:part name="parameters" element="tns:CMT_PAY" />
  </wsdl:message>
  <wsdl:message name="CMT_PAYSoapOut">
    <wsdl:part name="parameters" element="tns:CMT_PAYResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_CMT_PAYSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CMT_PAY">
      <wsdl:input message="tns:CMT_PAYSoapIn" />
      <wsdl:output message="tns:CMT_PAYSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_CMT_PAYSoap" type="tns:WS_CMT_PAYSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CMT_PAY">
      <soap:operation soapAction="http://tempuri.org/CMT_PAY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_CMT_PAYSoap12" type="tns:WS_CMT_PAYSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CMT_PAY">
      <soap12:operation soapAction="http://tempuri.org/CMT_PAY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_CMT_PAY">
    <wsdl:port name="WS_CMT_PAYSoap" binding="tns:WS_CMT_PAYSoap">
      <soap:address location="http://10.111.28.125/WS_CMT_PAY/WS_CMT_PAY.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_CMT_PAYSoap12" binding="tns:WS_CMT_PAYSoap12">
      <soap12:address location="http://10.111.28.125/WS_CMT_PAY/WS_CMT_PAY.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>