FDA_FINANCE/Web References/WS_AUTHENTICATION/AUTHENTICATION.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ระบบทั่วไป">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ระบบทั่วไปResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ระบบทั่วไปResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authen_Login_Cancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Citizen_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authen_Login_CancelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Authen_Login_CancelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authen_Login_MENU">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Citizen_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="system_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GROUP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MENU_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authen_Login_MENUResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Authen_Login_MENUResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authen_MENU_DOC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Citizen_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="system_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GROUP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MENU_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authen_MENU_DOCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Authen_MENU_DOCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ระบบทั่วไปSoapIn">
    <wsdl:part name="parameters" element="tns:ระบบทั่วไป" />
  </wsdl:message>
  <wsdl:message name="ระบบทั่วไปSoapOut">
    <wsdl:part name="parameters" element="tns:ระบบทั่วไปResponse" />
  </wsdl:message>
  <wsdl:message name="Authen_Login_CancelSoapIn">
    <wsdl:part name="parameters" element="tns:Authen_Login_Cancel" />
  </wsdl:message>
  <wsdl:message name="Authen_Login_CancelSoapOut">
    <wsdl:part name="parameters" element="tns:Authen_Login_CancelResponse" />
  </wsdl:message>
  <wsdl:message name="Authen_Login_MENUSoapIn">
    <wsdl:part name="parameters" element="tns:Authen_Login_MENU" />
  </wsdl:message>
  <wsdl:message name="Authen_Login_MENUSoapOut">
    <wsdl:part name="parameters" element="tns:Authen_Login_MENUResponse" />
  </wsdl:message>
  <wsdl:message name="Authen_MENU_DOCSoapIn">
    <wsdl:part name="parameters" element="tns:Authen_MENU_DOC" />
  </wsdl:message>
  <wsdl:message name="Authen_MENU_DOCSoapOut">
    <wsdl:part name="parameters" element="tns:Authen_MENU_DOCResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthenticationSoap">
    <wsdl:operation name="Authen_Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">เข้าใช้ระบบ</wsdl:documentation>
      <wsdl:input name="ระบบทั่วไป" message="tns:ระบบทั่วไปSoapIn" />
      <wsdl:output name="ระบบทั่วไป" message="tns:ระบบทั่วไปSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Authen_Login_Cancel">
      <wsdl:input message="tns:Authen_Login_CancelSoapIn" />
      <wsdl:output message="tns:Authen_Login_CancelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Authen_Login_MENU">
      <wsdl:input message="tns:Authen_Login_MENUSoapIn" />
      <wsdl:output message="tns:Authen_Login_MENUSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Authen_MENU_DOC">
      <wsdl:input message="tns:Authen_MENU_DOCSoapIn" />
      <wsdl:output message="tns:Authen_MENU_DOCSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthenticationSoap" type="tns:AuthenticationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authen_Login">
      <soap:operation soapAction="http://tempuri.org/ระบบทั่วไป" style="document" />
      <wsdl:input name="ระบบทั่วไป">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ระบบทั่วไป">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authen_Login_Cancel">
      <soap:operation soapAction="http://tempuri.org/Authen_Login_Cancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authen_Login_MENU">
      <soap:operation soapAction="http://tempuri.org/Authen_Login_MENU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authen_MENU_DOC">
      <soap:operation soapAction="http://tempuri.org/Authen_MENU_DOC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthenticationSoap12" type="tns:AuthenticationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authen_Login">
      <soap12:operation soapAction="http://tempuri.org/ระบบทั่วไป" style="document" />
      <wsdl:input name="ระบบทั่วไป">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ระบบทั่วไป">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authen_Login_Cancel">
      <soap12:operation soapAction="http://tempuri.org/Authen_Login_Cancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authen_Login_MENU">
      <soap12:operation soapAction="http://tempuri.org/Authen_Login_MENU" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authen_MENU_DOC">
      <soap12:operation soapAction="http://tempuri.org/Authen_MENU_DOC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Authentication">
    <wsdl:port name="AuthenticationSoap" binding="tns:AuthenticationSoap">
      <soap:address location="http://10.111.28.118/ws_authen2/AUTHENTICATION.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthenticationSoap12" binding="tns:AuthenticationSoap12">
      <soap12:address location="http://10.111.28.118/ws_authen2/AUTHENTICATION.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>