FDA_FINANCE/Web References/WS_PERSONAL_DEPARTMENT/DOCService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ephemeris.fda.moph.go.th/DocWebService/DOCService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DocService.Class" />
  <xs:element name="getORG">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getORGResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DocService.Class" minOccurs="0" name="getORGResult" nillable="true" type="q1:ArrayOfORGDetailClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DocService.Class" minOccurs="0" name="getMemberResult" nillable="true" type="q2:ArrayOfMemberDetailClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMemberProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CitizenID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMemberProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DocService.Class" minOccurs="0" name="getMemberProfileResult" nillable="true" type="q3:MemberDetailClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>