FDA_FINANCE/Web References/WS_PERSONAL_DEPARTMENT/DOCService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DocService.Class" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DocService.Class" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfORGDetailClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ORGDetailClass" nillable="true" type="tns:ORGDetailClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfORGDetailClass" nillable="true" type="tns:ArrayOfORGDetailClass" />
  <xs:complexType name="ORGDetailClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      <xs:element minOccurs="0" name="OrgName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ORGDetailClass" nillable="true" type="tns:ORGDetailClass" />
  <xs:complexType name="ArrayOfMemberDetailClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberDetailClass" nillable="true" type="tns:MemberDetailClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberDetailClass" nillable="true" type="tns:ArrayOfMemberDetailClass" />
  <xs:complexType name="MemberDetailClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="CitizenID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobilePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      <xs:element minOccurs="0" name="OrgName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PositionID" type="xs:int" />
      <xs:element minOccurs="0" name="Prefix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrefixID" type="xs:int" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberDetailClass" nillable="true" type="tns:MemberDetailClass" />
</xs:schema>