FDA_FINANCE/Web References/WS_UPDATE_PAYMENT_CERS/WS_UPDATE_PAYMENT_CER.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CER_NCT_SERVICE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PROCESS_ID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FR_IDA" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CER_NCT_SERVICEResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CER_NCT_SERVICESoapIn">
    <wsdl:part name="parameters" element="tns:CER_NCT_SERVICE" />
  </wsdl:message>
  <wsdl:message name="CER_NCT_SERVICESoapOut">
    <wsdl:part name="parameters" element="tns:CER_NCT_SERVICEResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_UPDATE_PAYMENT_CERSoap">
    <wsdl:operation name="CER_NCT_SERVICE">
      <wsdl:input message="tns:CER_NCT_SERVICESoapIn" />
      <wsdl:output message="tns:CER_NCT_SERVICESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_UPDATE_PAYMENT_CERSoap" type="tns:WS_UPDATE_PAYMENT_CERSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CER_NCT_SERVICE">
      <soap:operation soapAction="http://tempuri.org/CER_NCT_SERVICE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_UPDATE_PAYMENT_CERSoap12" type="tns:WS_UPDATE_PAYMENT_CERSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CER_NCT_SERVICE">
      <soap12:operation soapAction="http://tempuri.org/CER_NCT_SERVICE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_UPDATE_PAYMENT_CER">
    <wsdl:port name="WS_UPDATE_PAYMENT_CERSoap" binding="tns:WS_UPDATE_PAYMENT_CERSoap">
      <soap:address location="http://pertento.fda.moph.go.th/Certificate_narcotic/WS_UPDATE_PAYMENT_CER.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_UPDATE_PAYMENT_CERSoap12" binding="tns:WS_UPDATE_PAYMENT_CERSoap12">
      <soap12:address location="http://pertento.fda.moph.go.th/Certificate_narcotic/WS_UPDATE_PAYMENT_CER.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>