FDA_FINANCE/Web References/WS_NCT_INSERT/WS_NCT_INSERT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="NCT_INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IDA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NCT_INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NCT_INSERTResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NCT_INSERT_YORSOR_4">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IDA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NCT_INSERT_YORSOR_4Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NCT_INSERT_YORSOR_4Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NCT_INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:NCT_INSERT" />
  </wsdl:message>
  <wsdl:message name="NCT_INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:NCT_INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="NCT_INSERT_YORSOR_4SoapIn">
    <wsdl:part name="parameters" element="tns:NCT_INSERT_YORSOR_4" />
  </wsdl:message>
  <wsdl:message name="NCT_INSERT_YORSOR_4SoapOut">
    <wsdl:part name="parameters" element="tns:NCT_INSERT_YORSOR_4Response" />
  </wsdl:message>
  <wsdl:portType name="WS_NCT_INSERTSoap">
    <wsdl:operation name="NCT_INSERT">
      <wsdl:input message="tns:NCT_INSERTSoapIn" />
      <wsdl:output message="tns:NCT_INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NCT_INSERT_YORSOR_4">
      <wsdl:input message="tns:NCT_INSERT_YORSOR_4SoapIn" />
      <wsdl:output message="tns:NCT_INSERT_YORSOR_4SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_NCT_INSERTSoap" type="tns:WS_NCT_INSERTSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NCT_INSERT">
      <soap:operation soapAction="http://tempuri.org/NCT_INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NCT_INSERT_YORSOR_4">
      <soap:operation soapAction="http://tempuri.org/NCT_INSERT_YORSOR_4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_NCT_INSERTSoap12" type="tns:WS_NCT_INSERTSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NCT_INSERT">
      <soap12:operation soapAction="http://tempuri.org/NCT_INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NCT_INSERT_YORSOR_4">
      <soap12:operation soapAction="http://tempuri.org/NCT_INSERT_YORSOR_4" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_NCT_INSERT">
    <wsdl:port name="WS_NCT_INSERTSoap" binding="tns:WS_NCT_INSERTSoap">
      <soap:address location="http://164.115.28.105/WS_INSERT/WS_INSERT/WS_NCT_INSERT.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_NCT_INSERTSoap12" binding="tns:WS_NCT_INSERTSoap12">
      <soap12:address location="http://164.115.28.105/WS_INSERT/WS_INSERT/WS_NCT_INSERT.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>