FDA_FINANCE/Web References/WS_WAIT_QUEQE_LISTS/WS_WAIT_QUEQE_LIST.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Insert_Queue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ref01" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ref02" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert_QueueResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Insert_QueueSoapIn">
    <wsdl:part name="parameters" element="tns:Insert_Queue" />
  </wsdl:message>
  <wsdl:message name="Insert_QueueSoapOut">
    <wsdl:part name="parameters" element="tns:Insert_QueueResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_WAIT_QUEQE_LISTSoap">
    <wsdl:operation name="Insert_Queue">
      <wsdl:input message="tns:Insert_QueueSoapIn" />
      <wsdl:output message="tns:Insert_QueueSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_WAIT_QUEQE_LISTSoap" type="tns:WS_WAIT_QUEQE_LISTSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert_Queue">
      <soap:operation soapAction="http://tempuri.org/Insert_Queue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_WAIT_QUEQE_LISTSoap12" type="tns:WS_WAIT_QUEQE_LISTSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert_Queue">
      <soap12:operation soapAction="http://tempuri.org/Insert_Queue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_WAIT_QUEQE_LIST">
    <wsdl:port name="WS_WAIT_QUEQE_LISTSoap" binding="tns:WS_WAIT_QUEQE_LISTSoap">
      <soap:address location="http://10.111.28.161/WS_INSERT_QUEUE_LIST/WS_WAIT_QUEQE_LIST.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_WAIT_QUEQE_LISTSoap12" binding="tns:WS_WAIT_QUEQE_LISTSoap12">
      <soap12:address location="http://10.111.28.161/WS_INSERT_QUEUE_LIST/WS_WAIT_QUEQE_LIST.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>