FDA_FINANCE/Web References/WS_RUN_PDF_RECEIPTS/WS_RUN_PDF_RECEIPT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="runpdf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dt1">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="report_datasource" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ref02" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="runpdfResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="runpdfSoapIn">
    <wsdl:part name="parameters" element="tns:runpdf" />
  </wsdl:message>
  <wsdl:message name="runpdfSoapOut">
    <wsdl:part name="parameters" element="tns:runpdfResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_RUN_PDF_RECEIPTSoap">
    <wsdl:operation name="runpdf">
      <wsdl:input message="tns:runpdfSoapIn" />
      <wsdl:output message="tns:runpdfSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_RUN_PDF_RECEIPTSoap" type="tns:WS_RUN_PDF_RECEIPTSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="runpdf">
      <soap:operation soapAction="http://tempuri.org/runpdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_RUN_PDF_RECEIPTSoap12" type="tns:WS_RUN_PDF_RECEIPTSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="runpdf">
      <soap12:operation soapAction="http://tempuri.org/runpdf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_RUN_PDF_RECEIPT">
    <wsdl:port name="WS_RUN_PDF_RECEIPTSoap" binding="tns:WS_RUN_PDF_RECEIPTSoap">
      <soap:address location="http://10.111.28.161/WS_RUN_PDF_RECEIPT/WS_RUN_PDF_RECEIPT.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_RUN_PDF_RECEIPTSoap12" binding="tns:WS_RUN_PDF_RECEIPTSoap12">
      <soap12:address location="http://10.111.28.161/WS_RUN_PDF_RECEIPT/WS_RUN_PDF_RECEIPT.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>