FDA_FINANCE/Web References/WS_GEN_DH_NUMBER/WS_GEN_DH_NO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GEN_DH_NO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IDA" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GEN_DH_NOResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GEN_DH_NOSoapIn">
    <wsdl:part name="parameters" element="tns:GEN_DH_NO" />
  </wsdl:message>
  <wsdl:message name="GEN_DH_NOSoapOut">
    <wsdl:part name="parameters" element="tns:GEN_DH_NOResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_GEN_DH_NOSoap">
    <wsdl:operation name="GEN_DH_NO">
      <wsdl:input message="tns:GEN_DH_NOSoapIn" />
      <wsdl:output message="tns:GEN_DH_NOSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_GEN_DH_NOSoap" type="tns:WS_GEN_DH_NOSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GEN_DH_NO">
      <soap:operation soapAction="http://tempuri.org/GEN_DH_NO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_GEN_DH_NOSoap12" type="tns:WS_GEN_DH_NOSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GEN_DH_NO">
      <soap12:operation soapAction="http://tempuri.org/GEN_DH_NO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_GEN_DH_NO">
    <wsdl:port name="WS_GEN_DH_NOSoap" binding="tns:WS_GEN_DH_NOSoap">
      <soap:address location="http://164.115.28.129/FDA_DRUG/WS_GEN_DH_NO.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_GEN_DH_NOSoap12" binding="tns:WS_GEN_DH_NOSoap12">
      <soap12:address location="http://164.115.28.129/FDA_DRUG/WS_GEN_DH_NO.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>