FDA_FINANCE/Web References/WS_CER_CMT/WS_Update_Payment_Cer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cer_cmt_update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="process_id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ida" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="status_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cer_cmt_updateResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="cer_cmt_updateSoapIn">
    <wsdl:part name="parameters" element="tns:cer_cmt_update" />
  </wsdl:message>
  <wsdl:message name="cer_cmt_updateSoapOut">
    <wsdl:part name="parameters" element="tns:cer_cmt_updateResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_Update_Payment_CerSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cer_cmt_update">
      <wsdl:input message="tns:cer_cmt_updateSoapIn" />
      <wsdl:output message="tns:cer_cmt_updateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_Update_Payment_CerSoap" type="tns:WS_Update_Payment_CerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cer_cmt_update">
      <soap:operation soapAction="http://tempuri.org/cer_cmt_update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_Update_Payment_CerSoap12" type="tns:WS_Update_Payment_CerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cer_cmt_update">
      <soap12:operation soapAction="http://tempuri.org/cer_cmt_update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_Update_Payment_Cer">
    <wsdl:port name="WS_Update_Payment_CerSoap" binding="tns:WS_Update_Payment_CerSoap">
      <soap:address location="http://164.115.28.102/CERTIFICATE/WS_Update_Payment_Cer.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_Update_Payment_CerSoap12" binding="tns:WS_Update_Payment_CerSoap12">
      <soap12:address location="http://164.115.28.102/CERTIFICATE/WS_Update_Payment_Cer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>