FDA_FINANCE/Web References/WS_FDA_BG_DOC/WS_FDA_BG.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WS_GET_DISBURSE_BY_MONTH_AND_BUDGET_YEAR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Budget_Year" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Budget_Month" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_GET_DISBURSE_BY_MONTH_AND_BUDGET_YEARResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_GET_DISBURSE_BY_MONTH_AND_BUDGET_YEARResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WS_GET_DISBURSE_BY_MONTH_AND_BUDGET_YEARSoapIn">
    <wsdl:part name="parameters" element="tns:WS_GET_DISBURSE_BY_MONTH_AND_BUDGET_YEAR" />
  </wsdl:message>
  <wsdl:message name="WS_GET_DISBURSE_BY_MONTH_AND_BUDGET_YEARSoapOut">
    <wsdl:part name="parameters" element="tns:WS_GET_DISBURSE_BY_MONTH_AND_BUDGET_YEARResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_FDA_BGSoap">
    <wsdl:operation name="WS_GET_DISBURSE_BY_MONTH_AND_BUDGET_YEAR">
      <wsdl:input message="tns:WS_GET_DISBURSE_BY_MONTH_AND_BUDGET_YEARSoapIn" />
      <wsdl:output message="tns:WS_GET_DISBURSE_BY_MONTH_AND_BUDGET_YEARSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_FDA_BGSoap" type="tns:WS_FDA_BGSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WS_GET_DISBURSE_BY_MONTH_AND_BUDGET_YEAR">
      <soap:operation soapAction="http://tempuri.org/WS_GET_DISBURSE_BY_MONTH_AND_BUDGET_YEAR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_FDA_BGSoap12" type="tns:WS_FDA_BGSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WS_GET_DISBURSE_BY_MONTH_AND_BUDGET_YEAR">
      <soap12:operation soapAction="http://tempuri.org/WS_GET_DISBURSE_BY_MONTH_AND_BUDGET_YEAR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_FDA_BG">
    <wsdl:port name="WS_FDA_BGSoap" binding="tns:WS_FDA_BGSoap">
      <soap:address location="http://164.115.28.103/WS_FDA_DOC/WS_FDA_BG.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_FDA_BGSoap12" binding="tns:WS_FDA_BGSoap12">
      <soap12:address location="http://164.115.28.103/WS_FDA_DOC/WS_FDA_BG.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>